<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="false"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.lee.demo.springmvc.common.dao.domain.UserDO"
                   alias="UserDO"/>
        <typeAlias type="com.lee.demo.springmvc.common.dao.domain.ApplicationDO"
                   alias="ApplicationDO"/>
        <typeAlias type="com.lee.demo.springmvc.common.dao.domain.CompanyDO"
                   alias="CompanyDO"/>
    </typeAliases>

    <mappers>
        <mapper resource="mapper/UserDOMapper.xml"/>
        <mapper resource="mapper/ApplicationDOMapper.xml"/>
        <mapper resource="mapper/CompanyDOMapper.xml"/>
    </mappers>

</configuration>
